body{
	color:#443f3f;
}


.back-black{
	background: #1c1919;
	color:white;
}

.bg-width: {
	width:100%;
}

.input-group{
	display:block;
	border-radius: 5px;
}

.mg{
	margin-bottom: 15px
}

.height-lg{
	height:90px;
}

.btn-block{
	 box-shadow:  0 5px 0 0px #ab2525;
}

.addres{
	vertical-align:bottom; /* вот она */
	display:inline-block;
}

.cart{
	text-align:center;
}

.underline
{
	text-decoration: underline;
}

.slider-1
{
	color:#443f3f;
}