body{
	color:#443f3f;
}


.back-black{
	background: #1c1919;
	color:white;
}

.bg-width: {
	width:100%;
}

.input-group{
	display:block;
	border-radius: 5px;
}

.mg{
	margin-bottom: 15px
}

.height-lg{
	height:90px;
}

.btn-block{
	 box-shadow:  0 5px 0 0px #ab2525;
}

.addres{
	vertical-align:bottom; /* вот она */
	display:inline-block;
}

.cart{
	text-align:center;
}

.underline
{
	text-decoration: underline;
}

.slider-1
{
	color:#443f3f;
}

.pagination>li>a
{
	background-color: #fefefe;
	color:#7d7d7d;
	font-size: 22px;
	box-shadow:  0 1px 0 0px #7d7d7d;
}

.pagination>li:first-child>a
{
	border-radius:100px 0 0 100px;
}

.pagination>li:last-child>a
{
	border-radius:0 100px 100px 0;
}

.padding-top
{
	padding-top: 25px;
	color:#7d7d7d;
}

.border-white
{
	border:5px solid #FFFFFF ;
}

#padding-top
{
	padding-top: 35px;
}
#map{
	width:100%;
	height:500px;
}
.slider-container{
	width:100%;
	padding:0 15px 0 15px;
	overflow:hidden;
}
.slider-container .images img{
	width:100%;
	display: none;
}
.slider-container img.show{
	display:block;
}
.arrows-wrapper{
	position: absolute;
	width:100%;
}
.arrows{
	z-index: 10;
	position:absolute;
	right:45px;
	bottom: 10px;
}
.checkboxes-wrapper{
	position:relative;
	left: 60%;
	bottom: 30px;
}
.low-slider .images{
	padding: 0;
	overflow: hidden;
	height: 60px;
}
.low-slider .images .wrapper{
	position:absolute;
	height: 60px;
	width: 800px;
	z-index: 10;
	transition: all 0.5s;
}
.low-slider .images img{
	width:173px;
	float:left;
	padding: 7px;
	display:block;
}
.last-tasks {
  background-color: rgb(255, 255, 255);
  height: 138px;
}
.last-tasks img{
	float:left;
	margin-right: 15px;
}
.last-tasks div a{
	display: block;
	color: rgb(68, 63, 63);
	margin-top: 65px;
}
.last-tasks div h4{
	margin-bottom:3px;
}