body{
	color:#443f3f;
}


.back-black{
	background: #1c1919;
	color:white;
}

.bg-width: {
	width:100%;
}

.input-group{
	display:block;
	border-radius: 5px;
}

.mg{
	margin-bottom: 15px
}

.height-lg{
	height:90px;
}

.btn-block{
	 box-shadow:  0 5px 0 0px #ab2525;
}

.addres{
	vertical-align:bottom; /* вот она */
	display:inline-block;
}

.cart{
	text-align:center;
}

.underline
{
	text-decoration: underline;
}

.slider-1
{
	color:#443f3f;
}

.pagination>li>a
{
	background-color: #fefefe;
	color:#7d7d7d;
	font-size: 22px;
	box-shadow:  0 1px 0 0px #7d7d7d;
}

.pagination>li:first-child>a
{
	border-radius:100px 0 0 100px;
}

.pagination>li:last-child>a
{
	border-radius:0 100px 100px 0;
}

.padding-top
{
	padding-top: 25px;
	color:#7d7d7d;
}

.border-white
{
	border:5px solid #FFFFFF ;
}

#padding-top
{
	padding-top: 35px;
}